.navbar-custom {
	background-color: #fff;
    margin-top: -20px;
	font: 600 0.875rem/0.875rem "Raleway", sans-serif;
	transition: all 0.2s;
}

.navbar-custom.top-nav-collapse {
    margin-top: -20px;
    padding: 0.5rem 1.5rem 0.5rem 2rem;
    background-color: #fff;
    background-position: -50px;
}

.navbar-custom .navbar-brand.logo-image img {


    width: 13.4375rem;
	height: 8rem;


}