



h2 {
	color: #000000;
	font: 300 2rem/2.75rem "lato", sans-serif;
    margin-top: 6rem;
}


.cards-1 {
	padding-top: 6rem;
	padding-bottom: 1.625rem;
	text-align: center;
    background-color: #FFD9D9;
    
	background-image:  url('../images/fondo\ detalles.jpg'); 
	background-repeat: no-repeat;


}

.basic-3 {
	padding-top: 6.875rem;
	padding-bottom: 6.125rem;
    background-image: url("images/respaldo\ pablo.jpg");

    background-repeat: no-repeat;
    background-color: #FFEAF5;
 
}

.basic-3 h2 {
	margin-bottom: 3rem;
	text-align: center;
    margin-top: 0rem;
}

.basic-1 { 

	background-image: url("images/fondo\ detalleeeee.jpg");
    background-repeat: no-repeat;
	padding-top: 8rem;
	margin-top: 2rem;
	padding-bottom: 8rem;
}

.basic-1 .text-container {

margin-top: 2rem;
margin-left: 4rem;

}

.basic-1 .img-fluid {

margin-top: 0rem;

}
	  



/* Media query para aplicar el fondo de imagen solo en dispositivos móviles */
@media screen and (max-width: 768px) {
	.basic-1 .img-fluid {
	  margin-top: 15px;/* Ruta de la imagen de fondo para dispositivos móviles */
	  background-size: cover;
	  background-repeat: no-repeat;
	}
  }

  /* Media query para aplicar el fondo de imagen solo en dispositivos móviles */
@media screen and (max-width: 768px) {
	.basic-1  .text-container {

	  margin-top: -3.2rem;/* Ruta de la imagen de fondo para dispositivos móviles */
	  margin-left: 0.7rem;
	  text-align: left;
	  color: #000000;
		  line-height: 0.7rem;
	  
	}
  }

.cards-2 {

	padding-top: 0rem;
	padding-bottom: 8rem;
	text-align: center;
}


h10 {
	color: #000000;
	font: 300 2.25rem "lato", sans-serif;

}



.basic-2 .text-container {

	text-align: left;
	color: #000000;
		line-height: 0.7rem;
	}
	
		/* Details 2 */
		.basic-2 .text-container {
			margin-top: 2.375rem;
			margin-right: 0rem;
			margin-left: 4rem;
		}

		.basic-2 h2 {
	margin-top: 3rem;
}


.basic-2 {
	padding-top: 2.4rem;
	padding-bottom: 6rem;
	padding: 10rem;
	background-image: url("images/fondo\ primera\ seccion\ detalle.jpg");
	background-repeat: no-repeat;
	
}

/* Media query para aplicar el fondo de imagen solo en dispositivos móviles */
@media screen and (max-width: 768px) {
	.basic-2 {
	  background-image: url("images/fondo\ mobile\ detalle\ seccion.jpg");/* Ruta de la imagen de fondo para dispositivos móviles */
	padding-top: 10rem;
	padding: 2rem;
	padding-top: 20rem;
	  background-size: cover;
	  background-repeat: no-repeat;
	}
  }

    /* Media query para cambiar el interlineado solo en dispositivos móviles */
@media screen and (max-width: 768px) {
	.basic-2 .text-container {
		
		text-align: left;
		margin-left: -0.5rem;
	  line-height: 0.8rem; /* Interlineado reducido para dispositivos móviles */
	  margin-bottom: 2rem;
	}
  }

  
  

  @media screen and (max-width: 768px) {
	.basic-2 .img-fluid {
	  margin-top: -25px;/* Ruta de la imagen de fondo para dispositivos móviles */
	  background-size: cover;
	  background-repeat: no-repeat;
	}
  }


  
  @media screen and (max-width: 768px) {
  .basic-1 {

	background-color: #ffffff;
	padding-top: 4rem;
	padding-bottom: 5rem;
}
}