



h2 {
	color: #000000;
	font: 300 2rem/2.75rem "lato", sans-serif;
    margin-top: 12rem;
}


.cards-1 {
	padding-top: 6rem;
	padding-bottom: 1.625rem;
	text-align: center;
    background-color: #ffc8c8;
    
	background-image:  url('../images/fondo\ detalles.jpg'); 
	background-repeat: no-repeat;


}

.basic-3 {
	padding-top: 6.875rem;
	padding-bottom: 6.125rem;
    background-image: url("images/respaldo\ pablo.jpg");

    background-repeat: no-repeat;
    background-color: #FFEAF5;
 
}

.basic-3 h2 {
	margin-bottom: 3rem;
	text-align: center;
    margin-top: 0rem;
}

.basic-1 {

	background-image: url("images/fondo\ detalleeeee.jpg");
    background-repeat: no-repeat;
	padding-top: 4rem;
	margin-top: 2rem;
	padding-bottom: 5rem;
}

.cards-2 {

	padding-top: 0rem;
	padding-bottom: 8rem;
	text-align: center;
}






.basic-2 .text-container {

	text-align: left;
	color: #ffffff;
		line-height: 0.7rem;
	}
	
		/* Details 2 */
		.basic-2 .text-container {
			margin-top: 5.375rem;
			margin-right: 0rem;
			margin-left: 12rem;
		}

		.basic-2 h2 {
	margin-top: 3rem;
}


